<div class="row">
  <h1 class="col-md-9">Configuration for <%= current_team.team_name %></h1>
  <%= render 'tangocard_prompt' %>
</div>

<% if flash[:validation_errors] %>
  <div class="alert alert-danger">
    We can't handle your submission:
    <ul>
    <% (flash[:validation_errors] || []).each do |validation| %>
        <li><%= validation[0] %>: <%= validation[1].join(', ') %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<% if flash[:tango_errors] %>
  <div class="alert alert-danger">
    We can't handle your submission:
    <ul>
    <% flash[:tango_errors].each do |err| %>
      <li><%= err['path'] %> &mdash; <%= err['message'] %></li>
    <% end %>
  </div>
<% end %>

<% if current_team.tangocard? %>
  <h2>Tangocard Settings</h2>

  <div class="panel panel-primary">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" href="#cc_panel">
          Credit Card Information
          <% if current_team.tango_card_token %>(click to reconfigure)<% end %>
        </a>
      </h4>
    </div>
    <div id="cc_panel" class="panel-collapse collapse <%= 'in' unless current_team.tango_card_token %>">
      <div class="panel-body">
        <%= bootstrap_form_tag url: credit_card_tangocard_path, layout: :horizontal, label_col: "col-sm-3", control_col: "col-sm-9" do |form| %>
          <%= form.hidden_field :customerIdentifier, value: current_team.tango_customer_identifier %>
          <%= form.hidden_field :accountIdentifier, value: current_team.tango_account_identifier %>
          <%= form.hidden_field :label, value: 'card' %>

          <div class="well">
            <h3>Card</h3>
            <%= form.text_field :number, label: 'Card Number', placeholder: 'No dashes or spaces please' %>
            <%= form.text_field :expiration, placeholder: 'YYYY-MM' %>
            <%= form.text_field :verificationNumber, label: 'CVV', placeholder: '3 or 4 digits' %>
          </div>

          <div class="well">
            <h3>Billing</h3>
            <%= form.text_field :firstName, label: 'First Name', value: @first %>
            <%= form.text_field :lastName, label: 'Last Name', value: @last %>
            <%= form.email_field :emailAddress, label: 'Email', value: @email %>
            <%= form.text_field :addressLine1, label: 'Street Address' %>
            <%= form.text_field :addressLine2, hide_label: true %>
            <%= form.text_field :city %>
            <%= form.text_field :state %>
            <%= form.text_field :postalCode, label: 'Postal Code' %>
            <%= form.text_field :country %>
          </div>

          <%= form.submit class: 'col-sm-offset-3 col-sm-9 btn btn-success' %>
        <% end %>

        <div class="small text-danger">
          <strong>NOTE:</strong> Highfive does not store credit card or financial information directly.
          All of the information in this form is sent to Tangocard, and we store only a token that we can use to buy cards on your behalf through their service.
        </div>

      </div>
    </div>
  </div>

<% else %>
  <p>
    There's nothing to configure here until you enable Tangocard integration.
    See the big green button that says "Enable Tangocard"?
    That's the one, click it.
  </p>
<% end %>
