<%= render 'tangocard_prompt' %>

<h1>Your Team's Statistics</h1>

<% unless slack_users_info %>
<div class="alert alert-warning">
  Couldn't connect to Slack for user data, so we'll only be showing a reduced data set for now.
  Try again in a few minutes.
</div>
<% end %>

<table class="table table-striped">
  <thead>
    <th>Date</th>
    <th>From</th>
    <th>To</th>
    <th>Reason</th>
    <th>Amount</th>
    <th>Card code</th>
  </thead>
  <tbody>
    <% @records.each do |record| %>
      <tr>
        <td>
          <time datetime="<%= record.created_at.to_datetime %>">
            <span class="timestring"><%= record.created_at %></span>
          </time>
        </td>
        <td><%= name_fallback record.slack_from %></td>
        <td><%= name_fallback record.slack_to %></td>
        <td><%= record.reason %></td>
        <td><%= record.amount || '—' %></td>
        <td><%= record.card_code || '—' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
