<div class="row">
  <h1 class="col-md-9">Statistics for <%= current_team.team_name %></h1>
  <%= render 'tangocard_prompt' %>
</div>

<!-- TODO: message if authed for admin but app not configured -->

<% unless slack_users_info %>
<div class="alert alert-warning">
  Couldn't connect to Slack for user data, so we'll only be showing a reduced data set for now.
  Try again in a few minutes.
</div>
<% end %>

<% if @tango_account %>
<p>
  Current Tangocard account balance: <strong>$<%= format '%.2f', @tango_account['currentBalance']/100 %></strong>
</p>
<% end %>

<div class="clear-right table-responsive">
  <table class="table table-striped">
    <thead>
      <th>Date</th>
      <th>From</th>
      <th>To</th>
      <th>Reason</th>
      <th>Amount</th>
      <th>Card code</th>
    </thead>
    <tbody>
      <% @records.each do |record| %>
        <tr>
          <td>
            <time datetime="<%= record.created_at.to_datetime %>">
              <span class="timestring"><%= record.created_at %></span>
            </time>
          </td>
          <td><%= name_fallback record.slack_from %></td>
          <td><%= name_fallback record.slack_to %></td>
          <td><%= record.reason %></td>
          <td><%= record.amount || '—' %></td>
          <td><%= record.card_code ? '<em>REDACTED</em>'.html_safe : '—' %></td>
        </tr>
      <% end %>
    </tbody>
  </table></div>
