<!DOCTYPE html>
<html>
  <head>
    <title>Highfive Admin</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <span>(logo)</span>
      <span>(admin options)</span>
    </header>
    <section>
      <%= yield %>
    </section>
    <footer>
      Copyright <%= Date.today.year %> Ben Straub. All rights reserved.
    </footer>
  </body>
</html>
