<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" sizes="152x152" href="<%= image_path 'apple-touch-icon.png' %>">
    <link rel="icon" type="image/png" href="<%= image_path 'favicon-32x32.png' %>" sizes="32x32">
    <link rel="icon" type="image/png" href="<%= image_path 'favicon-16x16.png' %>" sizes="16x16">
    <link rel="manifest" href="<%= image_path 'manifest.json' %>">
    <link rel="mask-icon" href="<%= image_path 'safari-pinned-tab.svg' %>" color="#fed15c">
    <link rel="shortcut icon" href="<%= image_path 'favicon.ico' %>">
    <meta name="msapplication-config" content="<%= image_path 'browserconfig.xml' %>">
    <meta name="theme-color" content="#ffffff">

    <title>Highfive Admin</title>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to '✋ Highfive', '/', class: 'navbar-brand' %>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to '💌 Chat with us', 'mailto:hello@highfive.chat' %></li>
            <li><%= link_to 'Switch Teams', slack_login_url %></li>
            <li><%= link_to 'Stats', admin_index_path %></li>
            <li><%= link_to 'Configuration', '/admin/configuration' %></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">

      <%= yield %>

    </div>

    <hr>
    <footer class="col-md-12 text-center text-muted">
      © <%= Date.today.year %> <a href="https://ben.straub.cc/">Ben Straub</a>. All Rights Reserved.
    </footer>
  </body>
  <%= render 'shared/inbox_widget' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</html>
